node_modules
bower_components
typings/*
!typings/index.d.ts
.vs
.vscode
.vs
*.jsproj
*.csproj
*.sln
.DS_Store
.thumbsdb
.ThumbsDB
*.rdb
*.log
*.swp
src/valance.js
src/logs/
src/cache/
*.log
npm-debug*
*.map
index.js
dist/*
!dist/README.md
!dist/valance*

